<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link type="text/css" href="styles/main.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div class="header-content">
        <nav>
          <a href="home">{{ pageTitle }}</a>
          <a href="book/list">Tout Les Livres</a>
        </nav>
        <div>
          Accés:
          <a href="client">Clients</a>
          <a href="employe/list">Employes</a>
        </div>
      </div>
    </header>

    <!-- du prof -->
    <!--  <p><a href="client"> Saisir un client</a></p>
    <p><a href="client/list">Liste de clients</a></p> -->
    <!-- du prof -->
    <main>
      <div class="main-content-home">
        <h1>{{ pageTitle }}</h1>
        <div>
          <div class="hero">
            <h3>L'empire du Livre</h3>
            <h4>Accéssible en-ligne</h4>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <ul>
        <li><a href="index.php?url=home">Accueil</a></li>
        <li><a href="index.php?url=book">Livres</a></li>
      </ul>

      <p>
        Copyrith &copy; (if any exists) Mohamed Amin Zaalani
        <small>_v1.0</small>
      </p>
    </footer>
  </body>
</html>
